nav {
    margin-top: 31px;
}

nav ul {
    list-style-type: disc;
}

li::marker {
    color: blue;
}

main {
    margin-top: 107px;
}

#jumbotron {
    height: 675px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

header .card-img-top {
    border: 2px solid transparent;
    padding: 2px;
    border-radius: 1em;
}

#ps5 .card {
    border-bottom: 2px solid transparent;
    filter: opacity(50%);
    height: 100%;
}

header .active {
    border: 2px solid blue;
}

#ps5 .active {
    border-bottom: 2px solid blue;
    filter: opacity(100);
}

header .card {
    transition: all .5s;
}

main header .card:hover {
    transform: translate(0, -10px);
}

#ps5 .card:hover {
    border-color: blue;
    filter: opacity(100);
}

.banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

.banner img {
    width: 100%;
}

.card {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 0;
}

#plusbanner {
    background-color: #bebcbbff;
}

#plusbanner a {
    background-color: #d9dadcff;
    border: none;
}

#nowbanner {
    background-color: #161c3bff;
}

footer {
    background-color: #00439cff;
}

footer ul{
    list-style: none;
}