nav {
    margin-top: 31px;
}

.console {
    display: flex;
    padding: 1em;
}

main {
    margin-top: 107px;
}

#jumbotron {
    height: 675px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

.cards img{
    height: 100px;
    border-radius: 1em;
}

#ps5 .cards img {
    height: 100px;
}

.banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

.banner img {
    width: 100%;
}

.card {
    background: none;
    border: none;
}